

._ibg{
	position: relative;
}

._ibg .test__image{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}


.test__body {
	display: flex;

}
.test__column a{
	display: block;
}

.test__column{
	flex: 0 1 100%;
	margin: 10px;
}

.test__item {
	position: relative;
	padding: 0px 0px 50% 0px;
}

.test__image {
}